@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'DM Mono', monospace;
}

.nft-snippet-item > .nft-snippet-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}

.nft-snippet-item:hover > .nft-snippet-overlay {
    background-color: transparent;
}

[role="tooltip"] {
    max-width: 350px;
    text-align: center;
}